<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
    <head>
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>Zajęcia specjalnościowe</title>
    </head>
    <body>
        <h1>─── Zajęcia specjalnościowe ───</h1>
        <h2>Jan Kołakowski</h2>

        <p>Konsola bazy danych</p>
        <ul>
            <li><a href=http://localhost:8080/adminH2>/adminH2</a></li>
        </ul>

        <p>Wyświetl tabelę</p>
        <ul>
            <li><a href=http://localhost:8080/show>/show</a></li>
        </ul>

        <p>Dodaj pozycję</p>
        <ul>
            <li><a href=http://localhost:8080/form>/form</a></li>
        </ul>

    </body>
</html>